/* athlets */
/* 1920px */

.connection-container {
    display: flex;
}

.connection-item1 {
    width: 50%;
    position: relative;
}

.connection-item2 {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 55px;
}

.collaboration-container {
    display: flex;
    background-color: #f5f4fa;
}

.collaboration-item1 {
    width: 50%;
}

.collaboration-item2 {
    width: 50%;
    padding-top: 60px;
    padding-bottom: 55px;
}

.growth-container {
    display: flex;
    background-color: #5e42b0;
}

.growth-item1 {
    width: 50%;
}

.growth-item2 {
    width: 50%;
    padding-top: 80px;
    padding-bottom: 90px;
}

.athlets-caption {
    font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 70px;
    color: #e7e7e7;
    margin-top: 0px;
    margin-bottom: 85px;
}

.section-caption-container {
    display: flex;
    margin-bottom: 25px;
    justify-content: flex-start;
}

.number-container {
    margin-right: 10px;
}

.number {
    font-size: 18px;
    font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    margin: 0px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.underline {
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
}

.section-caption-text {
    font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #c1c1c1;
    line-height: 40px;
}

.section-text {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-family: "Proxima Nova Rg", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 28px;
}

.growth_number {
    color: #0a0e34;
}

.growth_underline {
    background-color: #efefef;
}

.growth-section-text {
    color: #ffffff;
}

.athlets .connection-item2-text-container,
.athlets .collaboration-item2-text-container,
.athlets .growth-item2-text-container {
    max-width: 675px;
}

.connection-image1 {
    background-image: url('../images/footballer-min.png');
    background-repeat: no-repeat;
    width: 602px;
    height: 950px;
    position: absolute;
    top: 30px;
    right: 80px;
    z-index: 2;
}

.connection-image-line {
    background-image: url('../images/connection-line.svg');
    background-repeat: no-repeat;
    width: 582px;
    height: 668px;
    position: absolute;
    top: 70px;
    right: 122px;
}

.connection-image-plus1 {
    position: absolute;
    background-image: url('../images/plus1.svg');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    top: 159px;
    right: 580px;
}

.connection-image-plus2 {
    position: absolute;
    background-image: url('../images/plus2.svg');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    top: 150px;
    right: 602px;
}

.athlets-320px {
    display: none;

    .images-container {
        margin-top: 25px;
        margin-bottom: 245px;
        margin-left: auto;
        margin-right: auto;
        max-width: 336px;
        padding-left: 15px;
        position: relative;
    }

    .number {
        color: #000000;
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .underline {
        background-color: #5e42b0;
        width: 17px;
        height: 4px;
    }

    .section-text {
        color: #000000;
        font-size: 15px;
        line-height: 18px;
    }

    .section-caption-text {
        font-size: 28px;
    }

    .section-caption-container {
        align-items: center;
    }

    .number-container {
        margin-bottom: 2px;
    }

    .connection-item2 {
        padding: 0 20px;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
    }

    .collaboration-item2 {
        padding: 0 20px;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
    }

    .growth-item2 {
        padding: 0 20px;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
    }

    .fotorama__wrap {
        min-width: auto !important;
    }

    .fotorama__arr {
        display: none !important;
    }

    .fotorama__html {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fotorama {
        display: flex;
        justify-content: center;
    }

    .images-container__image1 {
        background-image: url('../images/footballer-min.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 192px;
        height: 281px;
        position: absolute;
        top: 75px;
        left: 63px;
        z-index: 1;
    }

    .images-container__line1 {
        background-image: url('../images/athlets-320-line.svg');
        background-repeat: no-repeat;
        width: 185px;
        height: 200px;
        position: absolute;
        top: 90px;
        left: 55px;
    }

    .images-container__plus1 {
        width: 15px;
        height: 15px;
        background-image: url('../images/plus1.svg');
        background-repeat: no-repeat;
        position: absolute;
        top: 91px;
        left: 75px;
    }

    .images-container__plus2 {
        width: 15px;
        height: 15px;
        background-image: url('../images/plus2.svg');
        background-repeat: no-repeat;
        position: absolute;
        top: 78px;
        left: 56px;
    }
}