/* footer */
.footer {
    background-image: url('../images/footer-img-min.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 210px;
}

.footer-container {
    max-width: 1755px;
    padding: 0 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-app-logo {
    background-image: url('../images/Artwork.svg');
    background-repeat: no-repeat;
    width: 130px;
    height: 137px;
    background-position: center;
}

.download-app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.download-app-caption-container {
    margin-left: 35px;
}

.download-app-caption1 {
    color: #ffffff;
    font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
    font-size: 90px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 90px;
    position: relative;
    z-index: 1;
}

.download-app-caption2 {
    color: #a496ca;
    font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 36px;
}

.footer-bottom {
    margin-top: 195px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgba(10, 14, 52, 0.6);
}

.contact-us {
    color: #ffffff;
    font-family: "Proxima Nova Rg", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    text-decoration: none;
}

.facebook {
    background-image: url('../images/facebook-icon.svg');
    width: 17px;
    height: 31px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.twitter {
    background-image: url('../images/twiter.svg');
    width: 29px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.instagram {
    background-image: url('../images/instagram.svg');
    width: 27px;
    height: 27px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.social-item {
    margin-left: 40px;
}

.social-item:first-child {
    margin-left: 0;
}

.social-container {
    display: flex;
    justify-content: center;
    margin-left: 110px;
    align-items: center;
}

.download-app-caption1::before {
    content: "";
    display: block;
    width: 138px;
    height: 157px;
    background-image: url('../images/footer-line1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: -21px;
    left: 21px;
    z-index: -1;
}

.download-app-caption1::after {
    content: "";
    display: block;
    width: 275px;
    height: 314px;
    background-image: url('../images/footer-line2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: -1;
    top: -97px;
    right: 135px;
}