/* header */
/* 1920px */

.header {
    padding-top: 55px;
    padding-bottom: 110px;
}

.header-background {
    background-image: url('../images/football-min.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 193px;
    box-sizing: border-box;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 310px;
}

.logo {
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
}

.header-top__item1 {
    width: 189px;
    height: 33px;
}

.athlets-and-coaches {
    color: #ffffff;
    font-family: "Proxima Nova Lt", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.header-main-caption-1 h1,
.header-main-caption-2 h1 {
    color: #ffffff;
    font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: 90px;
}

.header-main-caption-1 h1 {
    position: relative;
    z-index: 1;
}


.header-main-caption-1 {
    display: flex;
    justify-content: flex-start;
    letter-spacing: 5px;
}

.header-main-caption-1 h1:before {
    content: '';
    display: block;
    position: absolute;
    width: 254px;
    height: 317px;
    background-image: url('../images/header-rectangle.svg');
    background-repeat: no-repeat;
    top: -93px;
    right: 0px;
    z-index: -1;
}

.header-main-caption-2 {
    display: flex;
    justify-content: flex-end;
    letter-spacing: 4.5px;
    margin-bottom: 5px;
}

.header-main-menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 180px;
}

.header-menu-item {
    margin-left: 45px;
    font-family: "Proxima Nova Lt";
    font-size: 14px;
    font-weight: 300;
    color: #9071ea;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
}

.header-menu-item:first-child {
    margin-left: 0;
}

.header-bottom-app-container {
    display: flex;
    justify-content: center;
}

.app-text-container {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}

.app-text-1 {
    font-family: "Proxima Nova Lt", Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
}

.app-text-2 {
    font-family: "Proxima Nova Sb";
    font-weight: 600;
    margin: 0;
}

.app-item {
    border-radius: 38px;
    background-color: rgb(94, 66, 176);
    box-shadow: 0 16px 24px #0a0e34;
    width: 311px;
    height: 77px;
    display: flex;
    align-items: center;
}

.mr-50 {
    margin-right: 50px;
}

.app-icon-1 {
    background-image: url('../images/Icon-Apple.svg');
    background-repeat: no-repeat;
    width: 33px;
    height: 37px;
    margin-right: 28px;
    margin-left: 43px;
}

.app-icon-2 {
    background-image: url('../images/Icon-Google_Play.svg');
    background-repeat: no-repeat;
    width: 36px;
    height: 39px;
    margin-right: 25px;
    margin-left: 64px;
}

.app-link {
    text-decoration: none;
}

