$color-pink: #d03958;
$color-black-16: #161616;
$color-white: #ffffff;
$color-light-brown: #e3d5b8;
$color-gray: #b5b5b5;
$color-black-1f: #1f1f1f;
$color-black-1b: #1b1b1b;

@mixin font ($font-family, $font-size, $font-weight, $color) {
    font-family: $font-family, Arial, Helvetica, sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

.container {
    width: 1012px;
    margin: 0 auto;
}

@import 'header';

@import 'our-services';

@import 'our-story';

@import 'pricing';

@import 'testimonial-gallery';

@import 'footer';