/* header */
/* 1920px */
.header {
  padding-top: 55px;
  padding-bottom: 110px;
}

.header-background {
  background-image: url("../images/football-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 193px;
  box-sizing: border-box;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 310px;
}

.logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
}

.header-top__item1 {
  width: 189px;
  height: 33px;
}

.athlets-and-coaches {
  color: #ffffff;
  font-family: "Proxima Nova Lt", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.header-main-caption-1 h1,
.header-main-caption-2 h1 {
  color: #ffffff;
  font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  line-height: 90px;
}

.header-main-caption-1 h1 {
  position: relative;
  z-index: 1;
}

.header-main-caption-1 {
  display: flex;
  justify-content: flex-start;
  letter-spacing: 5px;
}

.header-main-caption-1 h1:before {
  content: '';
  display: block;
  position: absolute;
  width: 254px;
  height: 317px;
  background-image: url("../images/header-rectangle.svg");
  background-repeat: no-repeat;
  top: -93px;
  right: 0px;
  z-index: -1;
}

.header-main-caption-2 {
  display: flex;
  justify-content: flex-end;
  letter-spacing: 4.5px;
  margin-bottom: 5px;
}

.header-main-menu {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 180px;
}

.header-menu-item {
  margin-left: 45px;
  font-family: "Proxima Nova Lt";
  font-size: 14px;
  font-weight: 300;
  color: #9071ea;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}

.header-menu-item:first-child {
  margin-left: 0;
}

.header-bottom-app-container {
  display: flex;
  justify-content: center;
}

.app-text-container {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.app-text-1 {
  font-family: "Proxima Nova Lt", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
}

.app-text-2 {
  font-family: "Proxima Nova Sb";
  font-weight: 600;
  margin: 0;
}

.app-item {
  border-radius: 38px;
  background-color: #5e42b0;
  box-shadow: 0 16px 24px #0a0e34;
  width: 311px;
  height: 77px;
  display: flex;
  align-items: center;
}

.mr-50 {
  margin-right: 50px;
}

.app-icon-1 {
  background-image: url("../images/Icon-Apple.svg");
  background-repeat: no-repeat;
  width: 33px;
  height: 37px;
  margin-right: 28px;
  margin-left: 43px;
}

.app-icon-2 {
  background-image: url("../images/Icon-Google_Play.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 39px;
  margin-right: 25px;
  margin-left: 64px;
}

.app-link {
  text-decoration: none;
}

/* athlets */
/* 1920px */
.connection-container {
  display: flex;
}

.connection-item1 {
  width: 50%;
  position: relative;
}

.connection-item2 {
  width: 50%;
  padding-top: 100px;
  padding-bottom: 55px;
}

.collaboration-container {
  display: flex;
  background-color: #f5f4fa;
}

.collaboration-item1 {
  width: 50%;
}

.collaboration-item2 {
  width: 50%;
  padding-top: 60px;
  padding-bottom: 55px;
}

.growth-container {
  display: flex;
  background-color: #5e42b0;
}

.growth-item1 {
  width: 50%;
}

.growth-item2 {
  width: 50%;
  padding-top: 80px;
  padding-bottom: 90px;
}

.athlets-caption {
  font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
  color: #e7e7e7;
  margin-top: 0px;
  margin-bottom: 85px;
}

.section-caption-container {
  display: flex;
  margin-bottom: 25px;
  justify-content: flex-start;
}

.number-container {
  margin-right: 10px;
}

.number {
  font-size: 18px;
  font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
  margin: 0px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.underline {
  width: 21px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}

.section-caption-text {
  font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #c1c1c1;
  line-height: 40px;
}

.section-text {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Proxima Nova Rg", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 28px;
}

.growth_number {
  color: #0a0e34;
}

.growth_underline {
  background-color: #efefef;
}

.growth-section-text {
  color: #ffffff;
}

.athlets .connection-item2-text-container,
.athlets .collaboration-item2-text-container,
.athlets .growth-item2-text-container {
  max-width: 675px;
}

.connection-image1 {
  background-image: url("../images/footballer-min.png");
  background-repeat: no-repeat;
  width: 602px;
  height: 950px;
  position: absolute;
  top: 30px;
  right: 80px;
  z-index: 2;
}

.connection-image-line {
  background-image: url("../images/connection-line.svg");
  background-repeat: no-repeat;
  width: 582px;
  height: 668px;
  position: absolute;
  top: 70px;
  right: 122px;
}

.connection-image-plus1 {
  position: absolute;
  background-image: url("../images/plus1.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 159px;
  right: 580px;
}

.connection-image-plus2 {
  position: absolute;
  background-image: url("../images/plus2.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 150px;
  right: 602px;
}

.athlets-320px {
  display: none;
}

.athlets-320px .images-container {
  margin-top: 25px;
  margin-bottom: 245px;
  margin-left: auto;
  margin-right: auto;
  max-width: 336px;
  padding-left: 15px;
  position: relative;
}

.athlets-320px .number {
  color: #000000;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.athlets-320px .underline {
  background-color: #5e42b0;
  width: 17px;
  height: 4px;
}

.athlets-320px .section-text {
  color: #000000;
  font-size: 15px;
  line-height: 18px;
}

.athlets-320px .section-caption-text {
  font-size: 28px;
}

.athlets-320px .section-caption-container {
  align-items: center;
}

.athlets-320px .number-container {
  margin-bottom: 2px;
}

.athlets-320px .connection-item2 {
  padding: 0 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.athlets-320px .collaboration-item2 {
  padding: 0 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.athlets-320px .growth-item2 {
  padding: 0 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.athlets-320px .fotorama__wrap {
  min-width: auto !important;
}

.athlets-320px .fotorama__arr {
  display: none !important;
}

.athlets-320px .fotorama__html {
  display: flex;
  align-items: center;
  justify-content: center;
}

.athlets-320px .fotorama {
  display: flex;
  justify-content: center;
}

.athlets-320px .images-container__image1 {
  background-image: url("../images/footballer-min.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 192px;
  height: 281px;
  position: absolute;
  top: 75px;
  left: 63px;
  z-index: 1;
}

.athlets-320px .images-container__line1 {
  background-image: url("../images/athlets-320-line.svg");
  background-repeat: no-repeat;
  width: 185px;
  height: 200px;
  position: absolute;
  top: 90px;
  left: 55px;
}

.athlets-320px .images-container__plus1 {
  width: 15px;
  height: 15px;
  background-image: url("../images/plus1.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 91px;
  left: 75px;
}

.athlets-320px .images-container__plus2 {
  width: 15px;
  height: 15px;
  background-image: url("../images/plus2.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 78px;
  left: 56px;
}

/* players */
.players .collaboration-container {
  background-color: #f5f5f7;
}

.players .growth-container {
  background-color: #0a0e34;
}

.players .number {
  color: #9173e6;
}

.players .connection-image1 {
  background-image: url("../images/basketboller-min.png");
  top: -100px;
  width: 991px;
  height: 815px;
  right: -856px;
}

.players .connection-image-plus1 {
  top: 27px;
  right: -156px;
}

.players .connection-image-plus2 {
  top: 39px;
  right: -186px;
}

.players .plus3 {
  top: 281px;
  right: -650px;
}

.connection-image-line1 {
  background-image: url("../images/players-line-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 279px;
  height: 321px;
  position: absolute;
  top: 285px;
  right: -349px;
}

.line2 {
  top: -27px;
  right: -785px;
}

.players .connection-item2,
.players .collaboration-item2,
.players .growth-item2 {
  padding: 0;
}

.players .connection-item2 {
  position: relative;
}

.players .connection-item1 {
  padding-top: 100px;
  padding-bottom: 55px;
}

.players .collaboration-item1 {
  padding-top: 60px;
  padding-bottom: 55px;
}

.players .growth-item1 {
  padding-top: 80px;
  padding-bottom: 90px;
}

.players .connection-item2-text-container,
.players .collaboration-item2-text-container,
.players .growth-item2-text-container {
  display: flex;
  flex-direction: column;
  max-width: 615px;
  margin-left: auto;
}

.players {
  overflow: hidden;
}

.players .connection-item2-text-container {
  position: relative;
}

.players-320px {
  display: none;
}

.players-320px .images-container {
  margin-top: 35px;
  margin-bottom: 245px;
  margin-left: auto;
  margin-right: auto;
  max-width: 336px;
  padding-left: 15px;
  position: relative;
}

.players-320px .number {
  color: #000000;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.players-320px .underline {
  background-color: #5e42b0;
  width: 17px;
  height: 4px;
}

.players-320px .section-text {
  color: #000000;
  font-size: 15px;
  line-height: 18px;
}

.players-320px .section-caption-text {
  font-size: 28px;
}

.players-320px .section-caption-container {
  align-items: center;
}

.players-320px .number-container {
  margin-bottom: 2px;
}

.players-320px .connection-item1 {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  max-width: 400px;
}

.players-320px .collaboration-item1 {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  max-width: 400px;
}

.players-320px .growth-item1 {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  max-width: 400px;
}

.players-320px .fotorama__wrap {
  min-width: auto !important;
}

.players-320px .fotorama__arr {
  display: none !important;
}

.players-320px .fotorama__html {
  display: flex;
  align-items: center;
  justify-content: center;
}

.players-320px .fotorama {
  display: flex;
  justify-content: center;
}

.players-320px .images-container__image1 {
  background-image: url("../images/basketboller-min.png");
  width: 302px;
  height: 248px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  top: 90px;
  left: 8px;
  z-index: 1;
}

.players-320px .images-container__line1 {
  background-image: url("../images/players-320-line1.svg");
  width: 93px;
  height: 109px;
  background-repeat: no-repeat;
  position: absolute;
  top: 210px;
  left: 61px;
  background-size: contain;
}

.players-320px .images-container__line2 {
  background-image: url("../images/players-320-line2.svg");
  width: 78px;
  height: 91px;
  background-repeat: no-repeat;
  position: absolute;
  top: 117px;
  left: 208px;
  background-size: contain;
}

.players-320px .images-container__plus1 {
  width: 15px;
  height: 15px;
  background-image: url("../images/plus1.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 97px;
  left: 82px;
}

.players-320px .images-container__plus2 {
  width: 15px;
  height: 15px;
  background-image: url("../images/plus2.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 84px;
  left: 63px;
}

.fotorama-container {
  background-color: #f5f4f9;
}

.fotorama__dot {
  width: 10px;
  height: 10px;
  background-color: #d8d8d8;
  border: none;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 10px;
  height: 10px;
  background-color: #5c3caf;
}

.fotorama__nav--dots {
  padding-bottom: 15px;
}

/* be-active find-contact work-it */
.be-active,
.find-contact,
.work-it {
  display: flex;
}

.find-contact {
  flex-direction: row-reverse;
}

.img-container {
  width: 50%;
}

.be-active-img {
  background-image: url("../images/be-active.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.find-contact-img {
  background-image: url("../images/find-contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.work-it-img {
  background-image: url("../images/work-it.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.be-active-container {
  width: 50%;
}

.be-active-container {
  padding-top: 255px;
  padding-bottom: 110px;
  padding-left: 125px;
  position: relative;
  box-sizing: border-box;
}

.find-contact-container {
  padding-top: 255px;
  padding-bottom: 155px;
  padding-right: 125px;
  position: relative;
  box-sizing: border-box;
}

.work-it-container {
  padding-top: 255px;
  padding-bottom: 120px;
  padding-left: 125px;
  position: relative;
  box-sizing: border-box;
}

.be-active-caption,
.find-contact-caption,
.work-it-caption {
  color: #e6e6e6;
  font-size: 90px;
  text-transform: uppercase;
  font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 75px;
}

.be-active-text,
.find-contact-text,
.work-it-text {
  color: #000000;
  font-size: 24px;
  font-family: "Proxima Nova Rg", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 28px;
}

.be-active-text {
  max-width: 295px;
  margin-top: 110px;
  margin-bottom: 80px;
}

.find-contact-text {
  max-width: 360px;
  margin-top: 70px;
  margin-bottom: 110px;
}

.work-it-text {
  max-width: 470px;
  margin-top: 105px;
  margin-bottom: 85px;
}

.be-active-button,
.find-contact-button,
.work-it-button {
  width: 22px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}

.be-active-number-container,
.find-contact-number-container,
.work-it-number-container {
  width: 168px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5e42b0;
  position: absolute;
}

.be-active-number-container {
  top: 211px;
  left: -84px;
}

.find-contact-number-container {
  top: 211px;
  right: -84px;
}

.work-it-number-container {
  top: 211px;
  left: -84px;
}

.be-active-number__number,
.find-contact-number__number,
.work-it-number__number {
  color: #f5f6f7;
  font-size: 24px;
  font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.be-active-number__underline,
.find-contact-number__underline,
.work-it-number__underline {
  width: 22px;
  height: 5px;
  border-radius: 2px;
  background-color: #8e7bc8;
}

/* footer */
.footer {
  background-image: url("../images/footer-img-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 210px;
}

.footer-container {
  max-width: 1755px;
  padding: 0 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-app-logo {
  background-image: url("../images/Artwork.svg");
  background-repeat: no-repeat;
  width: 130px;
  height: 137px;
  background-position: center;
}

.download-app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.download-app-caption-container {
  margin-left: 35px;
}

.download-app-caption1 {
  color: #ffffff;
  font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 90px;
  position: relative;
  z-index: 1;
}

.download-app-caption2 {
  color: #a496ca;
  font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
}

.footer-bottom {
  margin-top: 195px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgba(10, 14, 52, 0.6);
}

.contact-us {
  color: #ffffff;
  font-family: "Proxima Nova Rg", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  display: block;
  text-decoration: none;
}

.facebook {
  background-image: url("../images/facebook-icon.svg");
  width: 17px;
  height: 31px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url("../images/twiter.svg");
  width: 29px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.instagram {
  background-image: url("../images/instagram.svg");
  width: 27px;
  height: 27px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.social-item {
  margin-left: 40px;
}

.social-item:first-child {
  margin-left: 0;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-left: 110px;
  align-items: center;
}

.download-app-caption1::before {
  content: "";
  display: block;
  width: 138px;
  height: 157px;
  background-image: url("../images/footer-line1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -21px;
  left: 21px;
  z-index: -1;
}

.download-app-caption1::after {
  content: "";
  display: block;
  width: 275px;
  height: 314px;
  background-image: url("../images/footer-line2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  z-index: -1;
  top: -97px;
  right: 135px;
}

@media (max-width: 1550px) {
  .container {
    margin: 0px auto;
    padding: 0px 2.7425%;
  }
  .header {
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .athlets-and-coaches {
    margin-top: 15px;
  }
  .header-top {
    padding-bottom: 195px;
  }
  .header-main-caption-1 h1,
  .header-main-caption-2 h1 {
    font-size: 64px;
    line-height: 74px;
  }
  .header-main-caption-1 h1 {
    margin-left: 15%;
  }
  .header-main-caption-2 h1 {
    width: 66.2087%;
    margin-right: 70px;
    z-index: 1;
  }
  .header-main-caption-1 h1:before {
    top: -54px;
    right: 50px;
  }
  .header-main-caption-2 {
    margin-bottom: 180px;
  }
  .header-main-menu {
    justify-content: center;
    margin-bottom: 115px;
  }
  .header-menu-item {
    font-size: 16px;
  }
  .mr-50 {
    margin-right: 30px;
  }
  .section-text {
    font-size: 18px;
  }
  .connection-item2 {
    padding-top: 75px;
    padding-bottom: 65px;
  }
  .section-caption-container {
    margin-bottom: 18px;
  }
  .collaboration-item2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .growth-item2 {
    padding-top: 40px;
    padding-bottom: 35px;
  }
  .players .connection-item2 {
    padding-top: 75px;
    padding-bottom: 40px;
  }
  .athlets-caption {
    margin-bottom: 50px;
  }
  .players .collaboration-item2 {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .players .growth-item2 {
    padding-top: 40px;
    padding-bottom: 45px;
  }
  .athlets .connection-image1 {
    width: 419px;
    height: 664px;
    top: 94px;
    right: 15px;
    background-size: contain;
  }
  .connection-image-plus1 {
    top: 85px;
    right: 224px;
  }
  .connection-image-plus2 {
    top: 72px;
    right: 246px;
  }
  .connection-image-line {
    width: 288px;
    height: 317px;
    top: 109px;
    right: 49px;
    background-image: url("../images/line-media1730-athlets.svg");
  }
  .players .connection-image1 {
    top: -40px;
    right: -557px;
    width: 690px;
    height: 565px;
    background-size: contain;
  }
  .athlets .connection-item2,
  .athlets .collaboration-item2,
  .athlets .growth-item2 {
    width: 60%;
  }
  .athlets .connection-item1,
  .athlets .collaboration-item1,
  .athlets .growth-item1 {
    width: 40%;
  }
  .connection-image-line1 {
    top: 100px;
    right: -311px;
  }
  .players .connection-item2,
  .players .collaboration-item2,
  .players .growth-item2 {
    padding: 0;
    width: 40%;
  }
  .players .connection-item1,
  .players .collaboration-item1,
  .players .growth-item1 {
    width: 60%;
  }
  .players .connection-item2-text-container,
  .players .collaboration-item2-text-container,
  .players .growth-item2-text-container {
    margin-left: auto;
    padding-left: 20px;
  }
  .players .connection-image-plus1 {
    top: 39px;
    right: -80px;
  }
  .players .connection-image-plus2 {
    top: 54px;
    right: -106px;
  }
  .line2 {
    top: 43px;
    left: 517px;
    display: none;
  }
  .players .plus3 {
    top: 361px;
    left: 640px;
    display: none;
  }
  .players {
    overflow: hidden;
  }
  .athlets .connection-item2-text-container,
  .athlets .collaboration-item2-text-container,
  .athlets .growth-item2-text-container {
    padding-right: 20px;
  }
  .players .growth-item1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .players .collaboration-item1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .players .connection-item1 {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .be-active, .find-contact, .work-it {
    flex-direction: column;
  }
  .be-active-img,
  .find-contact-img,
  .work-it-img {
    height: 584px;
    width: 100%;
  }
  .be-active-caption,
  .find-contact-caption,
  .work-it-caption {
    font-size: 90px;
    line-height: 70px;
    max-width: 660px;
  }
  .be-active-container,
  .find-contact-container,
  .work-it-container {
    width: 100%;
    padding: 0;
    padding-top: 85px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
  }
  .be-active-text,
  .find-contact-text,
  .work-it-text {
    max-width: 615px;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  .be-active-block,
  .find-contact-block,
  .work-it-block {
    position: relative;
  }
  .be-active-number-container,
  .find-contact-number-container,
  .work-it-number-container {
    top: -168px;
    left: 0px;
  }
  .be-active-number-container,
  .find-contact-number-container,
  .work-it-number-container {
    width: 116px;
    height: 116px;
  }
  .download-app-container {
    flex-direction: column;
    margin-bottom: 185px;
  }
  .footer {
    padding-top: 130px;
  }
  .download-app-logo {
    margin-bottom: 80px;
  }
  .download-app-caption1 {
    font-size: 80px;
    line-height: 65px;
    margin-bottom: 20px;
    position: static;
  }
  .download-app-caption-container {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .download-app-caption2 {
    z-index: 1;
  }
  .footer-bottom {
    margin-top: 130px;
    padding-top: 37px;
    padding-bottom: 37px;
  }
  .footer .header-top__item1 {
    display: none;
  }
  .contact-us {
    display: none;
  }
  .social-container {
    margin-left: 0;
  }
  .footer-container {
    justify-content: center;
  }
  .facebook {
    width: 15px;
    height: 27px;
  }
  .twitter {
    width: 27px;
    height: 22px;
  }
  .instagram {
    width: 23px;
    height: 25px;
  }
  .download-app-caption1::before {
    left: 14px;
  }
  .download-app-caption1::after {
    right: 116px;
  }
}

@media (max-width: 767px) {
  body {
    min-width: 320px;
  }
  .header {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .container {
    margin: 0px auto;
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
  }
  .header-top {
    justify-content: center;
    padding-bottom: 140px;
  }
  .athlets-and-coaches {
    display: none;
  }
  .header-top__item1 {
    width: 137px;
    height: 24px;
    background-size: contain;
  }
  .header-main-caption-1 h1,
  .header-main-caption-2 h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1.6px;
  }
  .header-main-caption-1 h1 {
    margin-left: 0;
    margin-right: 18%;
  }
  .header-main-caption-2 h1 {
    margin-right: 0;
    width: 245px;
    margin-left: 17%;
  }
  .header-main-caption-1 {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .header-main-caption-2 {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }
  .header-main-caption-1 h1:before {
    top: -22px;
    right: 10px;
    width: 142px;
    height: 176px;
    background-size: contain;
  }
  .app-text-container {
    font-size: 8px;
  }
  .app-icon-1 {
    background-size: contain;
    width: 15px;
    height: 17px;
    margin-right: 10px;
    margin-left: 20px;
  }
  .app-icon-2 {
    background-size: contain;
    width: 16px;
    height: 18px;
    margin-left: 30px;
    margin-right: 8px;
  }
  .app-item {
    width: 142px;
    height: 39px;
  }
  .header-main-menu {
    flex-wrap: wrap;
    order: 1;
    margin-top: 45px;
    margin-bottom: 0;
  }
  .header-menu-item {
    font-size: 12px;
    margin-right: 16px;
    margin-left: 0;
    line-height: 20px;
  }
  .header-menu-item:last-child {
    margin-right: 0;
  }
  .mr-50 {
    margin-right: 8px;
  }
  .athlets {
    display: none;
  }
  .athlets-320px {
    display: flex;
    flex-direction: column;
  }
  .players {
    display: none;
  }
  .players-320px {
    display: flex;
    flex-direction: column;
  }
  .athlets-caption {
    margin-bottom: 0;
    font-size: 50px;
  }
  .be-active-number__number,
  .find-contact-number__number,
  .work-it-number__number {
    font-size: 14px;
  }
  .be-active-number-container,
  .find-contact-number-container,
  .work-it-number-container {
    width: 70px;
    height: 70px;
  }
  .be-active-number-container,
  .find-contact-number-container,
  .work-it-number-container {
    top: -90px;
    left: 15px;
  }
  .be-active-container,
  .find-contact-container,
  .work-it-container {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .be-active-caption,
  .find-contact-caption,
  .work-it-caption {
    font-size: 28px;
    line-height: 35px;
  }
  .be-active-text,
  .find-contact-text,
  .work-it-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    max-width: 400px;
  }
  .be-active-block,
  .find-contact-block,
  .work-it-block {
    padding: 0 15px;
  }
  .be-active-img,
  .find-contact-img,
  .work-it-img {
    height: 351px;
  }
  .footer {
    padding-top: 95px;
  }
  .download-app-logo {
    margin-bottom: 55px;
    width: 73px;
    height: 78px;
    background-size: contain;
  }
  .download-app-caption1 {
    font-size: 34px;
    letter-spacing: 2px;
    line-height: 29px;
    margin-bottom: 7px;
  }
  .download-app-caption2 {
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 15px;
  }
  .download-app-container {
    margin-bottom: 70px;
  }
  .footer-bottom {
    margin-top: 125px;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .facebook {
    width: 10px;
    height: 18px;
  }
  .twitter {
    width: 18px;
    height: 15px;
  }
  .instagram {
    width: 17px;
    height: 17px;
  }
  .download-app-caption1::before {
    background-image: url("../images/footer-320-line1.svg");
    width: 58px;
    height: 67px;
    top: -7px;
    left: 5px;
  }
  .download-app-caption1::after {
    background-image: url("../images/footer-320-line2.svg");
    width: 95px;
    height: 121px;
    top: -35px;
    left: 139px;
  }
}

@media (max-width: 365px) {
  .header-main-menu {
    flex-wrap: wrap;
    order: 1;
    margin-top: 45px;
    margin-bottom: 0;
  }
  .header-menu-item {
    font-size: 12px;
    margin-right: 30px;
    line-height: 20px;
  }
  .header-menu-item:nth-child(3n) {
    margin-right: 0;
  }
  .header-menu-item:nth-child(4) {
    margin-right: 50px;
  }
  .header-menu-item:last-child {
    margin-right: 0;
  }
}
